@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto:wght@400;500&display=swap");
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 375px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.button-standard {
  border-style: none;
  background: linear-gradient(120deg, #f23779 10%, #ff6803 90%);
  height: 50px;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
}

.border-wire {
  border: 1px solid black;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
}

#navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  display: none;
}

#logo {
  height: 30px;
}

#button-top {
  display: none;
}

#bars {
  float: right;
  font-size: 2rem;
}

@media (min-width: 768px) {
  #navbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    border-bottom: 1px solid #57647c38;
  }
  #navbar ul {
    display: flex;
  }
  #navbar ul li {
    margin-right: 20px;
  }
  #navbar a {
    font-family: "Roboto", sans-serif;
    color: #252525;
    font-weight: 500;
    font-size: 17px;
  }
  #bars {
    display: none;
  }
}

@media (min-width: 992px) {
  #button-top {
    display: block;
  }
}

@media (min-width: 1200px) {
  #navbar {
    height: 150px;
  }
}
