@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto:wght@400;500&display=swap");
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 375px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.button-standard {
  border-style: none;
  background: linear-gradient(120deg, #f23779 10%, #ff6803 90%);
  height: 50px;
  width: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  transition: all .3s ease;
}

.border-wire {
  border: 1px solid black;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  margin: 0;
  line-height: 1.5;
  font-size: 18px;
  overflow-x: hidden;
}

#navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #57647c38;
}

#navbar ul {
  display: none;
}

#logo {
  height: 30px;
}

#button-top {
  display: none;
}

#bars {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 2.3rem;
  color: #FFA62E;
  opacity: .8;
}

#check {
  display: none;
  position: absolute;
}

#dropdown {
  position: fixed;
  right: -100%;
  top: 60px;
  width: 65px;
  height: 250px;
  background-color: white;
  box-shadow: 1px 1px 10px 1px #b9b9b9;
  border-radius: 10px;
  opacity: .9;
  transition: all 0.3s ease;
}

#dropdown i {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #F23779;
  font-size: 2rem;
  padding-top: 4px;
  padding-bottom: 4px;
}

#check:checked ~ #dropdown {
  right: 10px;
}

@media (min-width: 768px) {
  #dropdown {
    display: none;
  }
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #57647c38;
  }
  #navbar ul {
    display: flex;
    align-items: center;
  }
  #navbar ul li {
    margin-left: 20px;
    transition: all .3s ease;
  }
  #navbar a {
    font-family: "Roboto", sans-serif;
    color: #252525;
    font-size: 0.944rem;
    font-weight: 500;
    transition: all .3s ease;
  }
  #navbar ul li:hover {
    transform: scale(1.1);
  }
  #navbar ul li:hover a {
    color: #FFA62E;
  }
  #bars {
    display: none;
  }
  #search-icon {
    margin-left: 20px;
    font-size: 1.1rem;
    transition: all .3s ease;
    cursor: pointer;
  }
  #search-icon:hover {
    transform: scale(1.1);
    color: #FFA62E;
  }
}

@media (min-width: 992px) {
  #button-top {
    display: block;
    height: 42px;
    width: 139px;
    font-family: "Roboto", sans-serif;
    color: #252525;
    font-size: 0.944rem;
    font-weight: 500;
    background: transparent;
    border: 1px solid #FFA62E;
    border-radius: 4px;
    text-transform: uppercase;
    margin-left: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  #button-top:hover {
    background: #FFA62E;
    color: white;
    border: none;
    transform: scale(1.03);
  }
  #navbar {
    height: 90px;
  }
  #navbar #logo {
    height: 43px;
  }
  #navbar ul {
    align-items: center;
  }
  #navbar ul li {
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  #navbar {
    height: 113px;
  }
  #navbar ul li {
    margin-left: 30px;
  }
  #navbar #search-icon {
    margin-left: 30px;
  }
  #button-top {
    margin-left: 30px;
  }
}

#bg-container {
  position: absolute;
  overflow-x: hidden;
  z-index: -1;
  top: 0;
  left: -50px;
}

#bg-container #bg {
  width: 150%;
  height: 90vh;
}

#showcase-1 {
  height: 752px;
}

#showcase-1-left {
  text-align: center;
}

#showcase-1-left h1 {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 2.111rem;
  font-weight: 700;
}

#showcase-1-left p {
  font-family: "Roboto", sans-serif;
  color: #57647C;
  margin-bottom: 40px;
}

#showcase-1-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  row-gap: 4rem;
  padding-right: 20px;
  padding-left: 20px;
}

#showcase-1-grid .showcase-1-grid-logo {
  height: 100px;
  width: 100px;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 10px 1px #b9b9b9;
  border-radius: 50%;
}

#showcase-1-grid .showcase-1-grid-logo:hover {
  transform: scale(1.1);
}

#create-account {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

#showcase-1-right {
  display: none;
}

@media (min-width: 768px) {
  #bg-container #bg {
    width: 115%;
    height: 550px;
  }
  #showcase-1 {
    height: 50vh;
    margin-top: 40px;
  }
  #showcase-1-left {
    text-align: left;
    height: 50%;
  }
  #showcase-1-left h1 {
    font-family: "Poppins", sans-serif;
    color: #252525;
    font-size: 3rem;
    font-weight: 700;
    padding-right: 60px;
  }
  #showcase-1-left p {
    width: 50%;
  }
  #showcase-1-grid {
    display: none;
  }
  #showcase-1-right {
    display: block;
    position: absolute;
  }
  #create-account {
    margin-left: 0;
    height: 50px;
  }
  #desktop-icon {
    height: 180px;
    width: 250px;
    position: absolute;
    left: 450px;
    top: 200px;
  }
  #blob {
    height: 550px;
    width: 550px;
    position: absolute;
    left: 200px;
    top: -60px;
    z-index: -1;
  }
}

@media (min-width: 992px) {
  #bg-container {
    left: -50px;
  }
  #bg-container #bg {
    width: 110%;
    height: 800px;
  }
  #showcase-1-grid {
    display: none;
  }
  #showcase-1 {
    height: 650px;
    margin-top: 0px;
    width: auto;
    align-items: center;
  }
  #showcase-1 #showcase-1-left {
    width: 60%;
    height: auto;
  }
  #showcase-1 #showcase-1-left p {
    width: 100%;
  }
  #showcase-1 #showcase-1-left h1 {
    font-family: "Poppins", sans-serif;
    color: #252525;
    font-size: 3.33rem;
    font-weight: 700;
    padding: 0;
  }
  #showcase-1-right {
    width: 50%;
    height: auto;
    position: relative;
  }
  #showcase-1-right #blob {
    position: absolute;
    height: 750px;
    width: 750px;
    left: -80px;
    top: -400px;
    z-index: -1;
  }
  #showcase-1-right #desktop-icon {
    height: 400px;
    width: 550px;
    left: -50px;
    top: -220px;
  }
  #create-account {
    height: 60px;
  }
  #create-account:hover {
    transform: scale(1.03);
  }
}

@media (min-width: 1200px) {
  #bg-container {
    left: 0;
    width: 100%;
  }
  #bg-container #bg {
    width: 110%;
    height: 920px;
  }
  #showcase-1-grid {
    display: none;
  }
  #showcase-1 {
    height: 850px;
    margin-top: 40px;
  }
  #showcase-1 #showcase-1-left {
    width: 50%;
    height: auto;
  }
  #showcase-1 #showcase-1-left p {
    width: 100%;
  }
  #showcase-1 #showcase-1-left h1 {
    padding: 0;
    line-height: 1.2;
  }
  #showcase-1-right #blob {
    width: 900px;
    height: 900px;
    top: -520px;
    left: 40px;
  }
  #showcase-1-right #desktop-icon {
    height: 650px;
    width: 750px;
    top: -370px;
    left: 0;
  }
}

#showcase-2 {
  height: 812px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 162px 162px;
  grid-template-rows: auto auto auto auto;
  row-gap: 15px;
  justify-content: space-between;
}

#showcase-2 h2 {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 2.111rem;
  font-weight: 700;
  text-align: left;
  padding-right: 5px;
}

#showcase-2 p {
  display: none;
}

#showcase-2 h3 {
  font-family: "Poppins", sans-serif;
  color: #252525;
}

#box1-s2 {
  grid-column: 1/3;
}

#button-grid-mobile {
  grid-column: 1/3;
  grid-row-end: -1;
  margin-right: auto;
  margin-left: auto;
}

#view-all {
  width: 140px;
  height: 50px;
  justify-content: center;
  margin-top: 60px;
}

#view-all-nonmobile {
  display: none;
}

.grid-box-s2 {
  text-align: center;
  align-content: center;
  box-shadow: 1px 1px 10px 1px #b9b9b9;
  border-radius: 10px;
  padding-top: 20px;
  transition: all 0.5s ease;
}

.grid-box-s2:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  #showcase-2 {
    height: auto;
    margin-top: 40px;
    grid-template-columns: 250px 250px;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
    row-gap: 20px;
  }
  #showcase-2 #box1-s2 p {
    margin-top: 47px;
    margin-bottom: 38px;
    width: 80%;
  }
  #showcase-2 h2 {
    font-family: "Poppins", sans-serif;
    color: #252525;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
    width: 90%;
  }
  #showcase-2 h3 {
    font-size: 1.1rem;
    margin-top: 23px;
    margin-bottom: 28px;
  }
  #showcase-2 p {
    display: block;
    font-family: "Roboto", sans-serif;
    color: #57647C;
    margin-bottom: 0;
  }
  #showcase-2 #button-grid-mobile {
    display: none;
  }
  #showcase-2 .grid-box-s2 {
    box-shadow: none;
    border-radius: 0;
    text-align: left;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
  }
  #showcase-2 #box1-button-container-s2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #showcase-2 #view-all-nonmobile {
    display: block;
    width: 140px;
    height: 50px;
    transition: all 0.3s ease;
  }
}

@media (min-width: 992px) {
  #showcase-2 {
    height: auto;
    margin-top: 80px;
    grid-template-columns: auto 220px 220px;
    grid-template-rows: auto auto;
    justify-content: space-between;
    row-gap: 100px;
  }
  #showcase-2 #box1-s2 p {
    width: auto;
  }
  #showcase-2 h2 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
  }
  #showcase-2 h3 {
    font-size: 1.222rem;
  }
  #showcase-2 p {
    width: auto;
  }
  #showcase-2 #box1-button-container-s2 {
    display: block;
  }
  #showcase-2 #box1-s2 {
    grid-row: 1/3;
    grid-column: 1/1;
    width: 444px;
  }
  #showcase-2 .grid-box-s2:hover {
    box-shadow: 1px 1px 10px 1px #b9b9b9;
    border-radius: 10px;
  }
  #showcase-2 .grid-box-s2 {
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
  }
  #view-all-nonmobile:hover {
    transform: scale(1.03);
  }
}

@media (min-width: 1200px) {
  #showcase-2 {
    margin-top: 20px;
    grid-template-columns: auto 261px 261px;
    grid-template-rows: auto auto;
    justify-content: space-between;
    row-gap: 100px;
    height: auto;
  }
  #showcase-2 h2 {
    font-size: 3rem;
    width: auto;
    margin-top: 0;
  }
  #showcase-2 p {
    width: auto;
  }
  #showcase-2 #box1-button-container-s2 {
    display: block;
  }
  #showcase-2 #box1-s2 {
    grid-row: 1/3;
    grid-column: 1/1;
    width: 444px;
  }
  #showcase-2 .grid-box-s2 {
    text-align: left;
    padding: 15px 15px;
  }
}

#showcase-3 {
  height: 812px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 90px 120px 90px;
  grid-template-rows: auto auto auto auto auto auto auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#showcase-3 #box4-s3 {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 2.111rem;
  font-weight: 700;
  text-align: center;
}

#showcase-3 p {
  display: none;
}

#showcase-3 #box1-s3 {
  display: none;
}

#showcase-3 #box2-s3 {
  display: none;
}

#showcase-3 #box3-s3 {
  display: none;
}

#showcase-3 #box4-s3 {
  grid-column: 1/4;
  grid-row: 1/1;
  width: auto;
}

#showcase-3 #box6-s3 {
  grid-column: 2/2;
  grid-row: 2/2;
}

#showcase-3 #box7-s3 {
  grid-column: 1/2;
  grid-row: 4/4;
}

#showcase-3 #box8-s3 {
  grid-column: 2/2;
  grid-row: 4/4;
}

#showcase-3 #box9-s3 {
  grid-column: 1/2;
  grid-row: 6/6;
}

#showcase-3 #box10-s3 {
  grid-column: 2/2;
  grid-row: 6/6;
}

#showcase-3 #box11-s3 {
  grid-column: 3/3;
  grid-row: 2/2;
}

#showcase-3 #box11-s3 i {
  color: #F23779;
  font-size: 2.8rem;
}

#showcase-3 #box12-s3 {
  grid-column: 3/3;
  grid-row: 4/4;
}

#showcase-3 #box12-s3 i {
  color: #F23779;
  font-size: 2.8rem;
}

#showcase-3 #box13-s3 {
  grid-column: 3/3;
  grid-row: 6/6;
}

#showcase-3 #box13-s3 i {
  color: #F23779;
  font-size: 3rem;
}

#showcase-3 #box14-s3 {
  grid-column: 1/4;
  grid-row: 7/7;
  margin-left: auto;
  margin-right: auto;
}

#showcase-3 #box15-s3 {
  grid-column: 1/4;
  grid-row: 5/5;
}

#showcase-3 #box15-s3 i {
  font-size: 1.8rem;
  color: #b9b6b6;
  opacity: 0.5;
}

#showcase-3 #box16-s3 {
  grid-column: 1/4;
  grid-row: 3/3;
}

#showcase-3 #box16-s3 i {
  font-size: 1.8rem;
  color: #b9b6b6;
  opacity: 0.5;
}

#showcase-3 .s3-grid-medium-text {
  font-family: "Poppins", sans-serif;
  color: #252525;
  text-transform: capitalize;
  color: #FFA62E;
}

#showcase-3 .s3-grid-numbers {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 2.111rem;
  font-weight: 700;
  font-size: 3rem;
  color: #F23779;
}

@media (min-width: 768px) {
  #showcase-3 {
    margin-top: 40px;
    height: auto;
    grid-template-columns: 10% 10% 55%;
    grid-template-rows: auto auto auto auto;
    row-gap: 30px;
    align-items: flex-start;
  }
  #showcase-3 p {
    display: block;
    font-family: "Roboto", sans-serif;
    color: #57647C;
    margin-bottom: 0;
  }
  #showcase-3 .s3-grid-medium-text {
    font-size: 1.375rem;
    margin-top: 0;
  }
  #showcase-3 .s3-grid-numbers {
    line-height: 1;
  }
  #showcase-3 #box1-s3 {
    display: none;
  }
  #showcase-3 #box2-s3 {
    display: none;
  }
  #showcase-3 #box3-s3 {
    display: none;
  }
  #showcase-3 #box4-s3 {
    grid-column: 1/4;
    grid-row: 1/1;
    text-align: left;
    width: 310px;
    line-height: 1.3;
  }
  #showcase-3 #box5-s3 {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  #showcase-3 #box6-s3 {
    grid-column: 3/4;
    grid-row: 2/2;
    text-align: left;
  }
  #showcase-3 #box7-s3 {
    grid-column: 2/3;
    grid-row: 3/3;
  }
  #showcase-3 #box8-s3 {
    grid-column: 3/4;
    grid-row: 3/3;
    text-align: left;
  }
  #showcase-3 #box9-s3 {
    grid-column: 2/3;
    grid-row: 4/4;
  }
  #showcase-3 #box10-s3 {
    grid-column: 3/4;
    grid-row: 4/4;
    text-align: left;
  }
  #showcase-3 #box11-s3 {
    display: none;
  }
  #showcase-3 #box12-s3 {
    display: none;
  }
  #showcase-3 #box13-s3 {
    display: none;
  }
  #showcase-3 #box14-s3 {
    display: none;
  }
  #showcase-3 #box15-s3 {
    display: none;
  }
  #showcase-3 #box16-s3 {
    display: none;
  }
}

@media (min-width: 992px) {
  #showcase-3 {
    margin-top: 140px;
    display: grid;
    grid-template-columns: auto 30px 50px 280px;
    grid-template-rows: 130px 120px 110px 110px auto;
    row-gap: 90px;
    height: auto;
    align-items: flex-start;
  }
  #showcase-3 .s3-grid-medium-text {
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    color: #252525;
    font-size: 1.222rem;
    font-weight: 700;
  }
  #showcase-3 .s3-grid-small-text {
    margin-top: 30px;
  }
  #showcase-3 .s3-grid-numbers {
    font-size: 3rem;
  }
  #showcase-3 #box1-s3 {
    display: block;
    grid-row: 1/5;
    margin-top: auto;
    margin-bottom: auto;
  }
  #showcase-3 #box1-s3 #box-s3 {
    height: 450px;
    width: 480px;
    background-color: #414149;
    position: relative;
    top: 15px;
  }
  #showcase-3 #box2-s3 {
    display: none;
  }
  #showcase-3 #box3-s3 {
    display: none;
    grid-row: 1/5;
    height: auto;
  }
  #showcase-3 #box4-s3 {
    grid-column: 3/5;
    grid-row: 1/1;
    text-align: left;
    width: auto;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.3;
  }
  #showcase-3 #box5-s3 {
    grid-column: 3/4;
    grid-row: 2/2;
  }
  #showcase-3 #box6-s3 {
    grid-column: 4/5;
    grid-row: 2/2;
    text-align: left;
  }
  #showcase-3 #box7-s3 {
    grid-column: 3/4;
    grid-row: 3/3;
  }
  #showcase-3 #box8-s3 {
    grid-column: 4/5;
    grid-row: 3/3;
    text-align: left;
  }
  #showcase-3 #box9-s3 {
    grid-column: 3/4;
    grid-row: 4/4;
  }
  #showcase-3 #box10-s3 {
    grid-column: 4/5;
    grid-row: 4/4;
    text-align: left;
  }
  #showcase-3 #box11-s3 {
    display: none;
  }
  #showcase-3 #box12-s3 {
    display: none;
  }
  #showcase-3 #box13-s3 {
    display: none;
  }
  #showcase-3 #box14-s3 {
    display: none;
  }
  #showcase-3 #box15-s3 {
    display: none;
  }
  #showcase-3 #box16-s3 {
    display: none;
  }
}

@media (min-width: 1200px) {
  #showcase-3 {
    grid-template-columns: auto 10px 150px 280px;
    grid-template-rows: 160px 130px 130px 130px;
    height: 840px;
    row-gap: 80px;
    align-items: flex-start;
    justify-content: space-between;
  }
  #showcase-3 #box1-s3 #box-s3 {
    height: 561px;
    width: 685px;
    top: 15px;
    left: -115px;
  }
  #showcase-3 #box4-s3 {
    grid-column: 2/5;
    grid-row: 1/1;
    text-align: left;
    width: 450px;
    font-size: 2.66rem;
  }
}

#showcase-4 {
  height: 812px;
  margin-top: 40px;
}

#showcase-4 h2 {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 2.111rem;
  font-weight: 700;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

#showcase-4 p {
  display: none;
}

#showcase-4 #numbers-s4 {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: auto auto;
  justify-content: space-between;
  row-gap: 60px;
}

#showcase-4 #numbers-s4 h3 {
  color: #F23779;
  font-family: "Poppins", sans-serif;
  font-size: 2.7rem;
  margin-bottom: 0;
  text-align: center;
  line-height: 1;
}

#showcase-4 #numbers-s4 p {
  display: block;
  font-family: "Roboto", sans-serif;
  color: #57647C;
  margin-top: 0;
  text-align: center;
}

#showcase-4 #numbers-s4 .s4-box {
  box-shadow: 1px 1px 10px 1px #b9b9b9;
  border-radius: 10px;
  height: 200px;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#showcase-4 #questions-s4 {
  display: none;
}

#showcase-4 #map {
  display: none;
}

#showcase-4 #button-s4-mobile {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

@media (min-width: 768px) {
  #showcase-4 {
    height: auto;
    position: relative;
    margin-top: 60px;
  }
  #showcase-4 h2 {
    font-family: "Poppins", sans-serif;
    color: #252525;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
  }
  #showcase-4 p {
    display: block;
    font-family: "Roboto", sans-serif;
    color: #57647C;
    width: 80%;
  }
  #showcase-4 #numbers-s4 {
    row-gap: 0;
  }
  #showcase-4 .s4-box {
    height: auto;
  }
  #showcase-4 #numbers-s4 {
    grid-template-columns: auto auto auto auto;
    height: auto;
  }
  #showcase-4 #numbers-s4 h3 {
    font-size: 2.33rem;
  }
  #showcase-4 #numbers-s4 .s4-box {
    box-shadow: none;
  }
  #showcase-4 #button-s4-mobile {
    display: none;
  }
  #showcase-4 #questions-s4 {
    background-color: white;
    display: block;
    width: 630px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    box-shadow: 1px 1px 10px 1px #b9b9b9;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
  }
  #showcase-4 #questions-s4 #box-s4-text h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.168rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  #showcase-4 #questions-s4 #box-s4-text p {
    margin-top: 0;
  }
  #showcase-4 #map {
    display: block;
    position: absolute;
    height: 350px;
    bottom: 2vh;
    z-index: -99;
  }
}

@media (min-width: 992px) {
  #showcase-4 {
    margin-top: 150px;
  }
  #showcase-4 h2 {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #showcase-4 p {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #showcase-4 #numbers-s4 p {
    text-align: center;
    width: auto;
  }
  #showcase-4 #map {
    width: 100%;
    bottom: 0;
  }
  #showcase-4 #box-s4-text p {
    text-align: left;
    width: auto;
  }
  #showcase-4 #button-s4:hover {
    transform: scale(1.03);
  }
}

@media (min-width: 1200px) {
  #showcase-4 h2 {
    width: 70%;
  }
  #showcase-4 p {
    width: 60%;
  }
  #showcase-4 #numbers-s4 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #showcase-4 #map {
    transform: scale(1.2);
    top: 300px;
  }
  #showcase-4 #box-s4-text p {
    text-align: left;
    width: auto;
  }
}

#showcase-5 {
  margin-top: 70px;
  height: 812px;
}

#header-s5 {
  text-align: center;
}

#header-s5 h2 {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 2.111rem;
  font-weight: 700;
}

#header-s5 p {
  display: none;
  font-family: "Roboto", sans-serif;
  color: #57647C;
}

.text-bread {
  font-family: "Roboto", sans-serif;
  color: #57647C;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #252525;
  font-size: 1.222rem;
}

.content-orange {
  font-family: "Poppins", sans-serif;
  color: #FFA62E;
  font-size: 0.778rem;
}

.content {
  box-shadow: 1px 1px 10px 1px #b9b9b9;
}

.black-box {
  width: auto;
  height: 226px;
  background: #414149;
}

.content-box {
  padding-left: 20px;
  padding-bottom: 10px;
}

.content-box h3 {
  line-height: 1.2;
  margin-bottom: 0;
}

#s5-box2 {
  display: none;
}

#s5-box3 {
  display: none;
}

@media (min-width: 768px) {
  #showcase-5 {
    height: auto;
    margin-top: 100px;
  }
  #header-s5 {
    text-align: left;
  }
  #header-s5 h2 {
    font-family: "Poppins", sans-serif;
    color: #252525;
    font-size: 3rem;
    font-weight: 700;
    width: 90%;
  }
  #header-s5 p {
    display: block;
    width: 90%;
  }
  #showcase-5-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 20px;
  }
  #showcase-5-content .content-box {
    width: 60%;
    padding: 10px 20px;
  }
  #showcase-5-content .content-box p {
    margin-top: 5px;
  }
  .black-box {
    width: 320px;
    height: auto;
  }
  #s5-box1 {
    display: flex;
    justify-content: space-between;
  }
  #s5-box2 {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  #header-s5 {
    text-align: center;
  }
  #header-s5 h2 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #header-s5 p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  #showcase-5-content {
    grid-template-columns: auto auto auto;
    margin-top: 50px;
  }
  #showcase-5-content .content {
    width: 290px;
    transition: all .3s ease;
    cursor: pointer;
  }
  #showcase-5-content .content .black-box {
    width: auto;
    height: 250px;
  }
  #showcase-5-content .content .content-box {
    width: 100%;
  }
  #showcase-5-content .content .content-box p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #showcase-5-content .content:hover {
    transform: scale(1.05);
  }
  #s5-box1 {
    flex-direction: column;
  }
  #s5-box2 {
    flex-direction: column;
  }
  #s5-box3 {
    display: block;
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  #showcase-5-content .content {
    width: 350px;
  }
  #showcase-5-content .content .black-box {
    width: auto;
    height: 250px;
  }
  #showcase-5-content .content .content-box {
    width: 100%;
  }
}

#back-to-top {
  display: none;
}

@media (min-width: 768px) {
  #back-to-top {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    z-index: 5;
  }
  #back-to-top i {
    font-size: 2.777rem;
    color: #FFA62E;
    opacity: .8;
  }
}
