.d-flex { display: flex; }
.d-grid { display: grid;}
.d-block { display: block; }
.d-none { display: none; }


.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

// Button
.button-standard {
    border-style: none;
    background: linear-gradient(135deg, rgba(242,55,121,1) 28%, rgba(255,104,3,1) 78%);
    height: 50px;
    width: auto;
    font-family: $font-bread;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    padding: 1rem 1rem;
}

//Border-wirefram
.border-wire {
    border: 1px solid black;
}