@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Roboto:wght@400;500&display=swap');
//Fonts
$font-primary: 'Poppins', sans-serif;
$font-bread: 'Roboto', sans-serif;

//Colors
$purple: #F23779;
$orange-bright:#FF6803;
$orange:#FFA62E;
$box-dark:#414149;
$font-dark:#252525;
$font-light:#57647C;


//Breakpoints