#navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #57647c38;

        ul {
        display: none;
        }
    }

#logo {
    height: 30px;
}

#button-top {
    display: none;
}

#bars {
    position: fixed;
    // float: right;
    right: 10px;
    top: 10px;
    font-size: 2.3rem;
    color: $orange;
    opacity: .8;
}

#check  {
    display: none;
    position: absolute;
}

#dropdown {
    position: fixed;
    right: -100%;
    top: 60px;
    width: 65px;
    height: 250px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px #b9b9b9;
    border-radius: 10px;
    // background-color: $box-dark;
    opacity: .9;
    transition: all 0.3s ease;
    & i {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-content: center;
        color: $purple;
        font-size: 2rem;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

#check:checked ~ #dropdown {
    right: 10px;
}

@include md {
    #dropdown {
        display: none;
    }
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #57647c38;

        ul {
             display: flex;
             align-items: center;
            }

        ul li {
            margin-left: 20px;
            transition: all .3s ease;
        }

        a {
            @include navbar-text;
            transition: all .3s ease;
        }
        ul {
            & li:hover {
                transform: scale(1.1);
                    a  {
                        color: $orange;
                }   
            }
        }
    }

    #bars {
        display: none;
    }

    #search-icon {
        margin-left: 20px;
        font-size: 1.1rem;
        transition: all .3s ease;
        cursor: pointer;
    }

    #search-icon:hover {
        transform: scale(1.1);
        color: $orange;
    }
}

 @include lg {
    #button-top {
         display: block;
         height: 42px;
         width: 139px;
         @include navbar-text;
         background: transparent;
         border: 1px solid $orange;
         border-radius: 4px;
         text-transform: uppercase;
         margin-left: 20px;
         transition: all 0.5s ease;
         cursor: pointer;
    }

    #button-top:hover {
        background: $orange;
        color: white;
        border: none;
        transform: scale(1.03);
    }
    
    #navbar {
        height: 90px;

        #logo {
            height: 43px;
        }
        ul {
            align-items: center;
        }

        ul li {
            margin-left: 20px;
        }
    }
 }

 @include xl {
     #navbar {
        height: 113px;

        ul li {
            margin-left: 30px;
        }

        #search-icon {
            margin-left: 30px;
        }

     }

     #button-top {
         margin-left: 30px;
     }

 }

