#navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

        ul {
        display: none;
        }
    }

#logo {
    height: 30px;
}

#button-top {
    display: none;
}

#bars {
    float: right;
    font-size: 2rem;
}

@include md {
     #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #57647c38;

         ul {
             display: flex;
             align-items: center;
            }

        ul li {
        margin-left: 20px;
        }

        a {
        font-family: $font-bread;
        color: $font-dark;
        font-weight: 500;
        font-size: 17px;
        }
    }

    #bars {
        display: none;
    }

    #search-icon {
        margin-left: 20px;
        font-size: 1.1rem;
    }
}

 @include lg {
     #button-top {
         display: block;
         height: 42px;
         width: 139px;
         color: $font-dark;
         font-family: $font-bread;
         font-weight: 500;
         font-size: 17px;
         background: transparent;
         border: 1px solid $orange;
         border-radius: 4px;
         text-transform: uppercase;
         margin-left: 20px;
     }

     #navbar {
        height: 90px;

        ul {
            align-items: center;
        }

        ul li {
            margin-left: 20px;
        }

     }
 }

 @include xl {
     #navbar {
         height: 113px;

        ul li {
            margin-left: 30px;
        }

        #search-icon {
            margin-left: 30px;
        }

     }

     #button-top {
         margin-left: 30px;
     }
 }

