#showcase-1 {
    height: 90vh;
}

#showcase-1-left {
    text-align: center;

    h1 {
        font-family: $font-primary;
        font-size: 2.824rem;
    }

    p {
        font-family: $font-bread;
        color: $font-light;
        font-size: 1.059rem;
    }
}

#showcase-1-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid green;
    justify-content: space-between;
    row-gap: 2rem;
    padding-right: 20px;
    padding-left: 20px;

    .showcase-1-grid-logo {
        height: 100px;
        width: 100px;
        transition: all 0.5s ease;
    }

    .showcase-1-grid-logo:hover {
        transform: scale(1.1);
    }

}


#create-account {
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
}

#showcase-1-right {
    display: none;
}


@include md {
    #showcase-1-grid {
        display: none;
    }
}

@include lg {
    #showcase-1-grid {
        display: none;
    }
}

@include xl {
    #showcase-1-grid {
        display: none;
    }
}