#showcase-4 {
    height: 90vh;
    margin-top: 40px;

        h1 {
            font-family: $font-primary;
            color: $font-dark;
            text-align: center;
            font-size: 2.111rem;
            font-weight: 700;
            padding-left: 10px;
            padding-right: 10px;
        } 

        p {
            display: none;
        }
    
        #numbers-s4 {
            display: grid;
            grid-template-columns: 45% 45%;
            grid-template-rows: auto auto;
            justify-content: space-between;
            row-gap: 100px;

            h3 {
                color: $purple;
                font-family: $font-primary;
                font-size: 2.7rem;
                margin-bottom: 0;
                text-align: center;
                line-height: 1;
            }

            p {
                display: block;
                font-family: $font-bread;
                color: $font-light;
                margin-top: 0;
                text-align: center;
            }

            .s4-box {
                box-shadow: 1px 1px 10px 1px #b9b9b9;
                border-radius: 10px;
                height: 200px;
                align-content: center;
                justify-content: center;
                display: flex;
                flex-direction: column;

            }
        }

        #questions-s4 {
            display: none;
        }

        #map {
            display: none;
        }

        #button-s4-mobile {
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
        }
}


@include md {
    #showcase-4 {
        height: 100vh;
        position: relative;
        margin-top: 60px;
        h1 {
            text-align: left;
            font-size: 2.667rem;
        }

        p {
            display: block;
            font-family: $font-bread;
            color: $font-light;
            width: 80%;
        }

        #numbers-s4 {
            row-gap: 0;
        }

        .s4-box {
            height: auto;
        }

        #numbers-s4 {
            grid-template-columns: auto auto auto auto;
            height: auto;
            h3 {
                font-size: 2.33rem;
            }

            .s4-box {
                box-shadow: none;
            }
        }

        #button-s4-mobile {
            display: none;
        }
        
        #questions-s4 {
            background-color: white;
            display: block;
            width: 630px;
            height: 140px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            display: flex;
            box-shadow: 1px 1px 10px 1px #b9b9b9;
            justify-content: space-between;
            padding-left: 30px;
            padding-right: 30px;
            align-items: center;
            #box-s4-text {
                h3 {
                    font-family: $font-primary;
                    font-size: 1.168rem;
                    font-weight: 600;
                    margin-bottom: 0;
                }

                p {
                    margin-top: 0;

                }
            }
        }
        #map {
            display: block;
            position: absolute;
            height: 350px;
            bottom: 500px;
            z-index: -99;
        }
    }
}

@include lg {
    #showcase-4 {
        margin-top: 150px;
        h1 {
            text-align: center;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

        #numbers-s4 {
            p {
                text-align: center;
                width: auto;
            }
        }
        #map {
            width: 100%;
            top: 250px;
        }

        #box-s4-text {
            p {
                text-align: left;
                width: auto;
            }
        }
    }


}

@include xl {
    #showcase-4 {
        h1 {
            width: 70%;
        }

        p {
            width: 60%;
        }
    
        #numbers-s4 {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        #map {
            transform: scale(1.2);
            top: 280px;
        }

        #box-s4-text {
            p {
                text-align: left;
                width: auto;
            }
        }
    }
}